* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #fde6f3;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container */
.container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: 600px;
}

/* Purple Circle */
.circle {
    position: absolute;
    width: 600px;
    height: 600px;
    background-color: #c9a0ff;
    border-radius: 50%;
    left: 8px;
    top: 5px;
}

/* Content */
.content {
    position: absolute;
    left: 120px;
    top: 50px;
    z-index: 2;
}

/* Welcome text */
.welcome {
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    color: #660590;
    margin-bottom: -31px;
}

/* Portfolio Title */
.title {
    font-size: 150px;
    font-weight: 900;
    letter-spacing: 5px;

    /* PATTERN */
    background: 
        radial-gradient(#fb0594 40%, transparent 21%) 0 0 / 8px 8px,
        radial-gradient(#f3bfd9 80%, transparent 21%) 4px 4px / 8px 8px;

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    /* OUTLINE PUTIH */
    -webkit-text-stroke: 3px #f807c4;
}


/* Author */
.author {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    margin-top: -10px;
    color: #000;
}

/* Start Button */
.btn-start {
    display: inline-block;
    margin-top:-15px;
    margin-left: 700px;
    padding: 12px 35px;
    background-color: #fff;
    border: 4px solid #de4ad7;
    border-radius: 40px;
    font-weight: 600;
    color: #ff7ac8;
    text-decoration: none;
    transition: 0.3s;
}

.btn-start:hover {
    background-color: #c69fed;
    color: #fff;
}
